.single-room {
    img {
        height: 30rem;
        margin: 0 auto;
        width: inherit !important;
    }
  .amenities-list {
    flex-wrap: wrap;
    height: 12rem;
    margin-bottom: 4rem;
  }
}
