.room-list {
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .room-card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 25rem;
    margin: 2rem;
    .room-info {
      padding: 2rem;
    }
    .room-pic {
      width: 25rem;
    }
  }
}
